*,
*::before, 
*::after {
    box-sizing: border-box;
}


:root {
    font-size: 100%;

    /* variables */

    --color-brand-500: hsl(61, 100%, 81%) ;
    --color-icon-500: hsl(30, 16%, 55%);
    --color-text-body: hsl(31, 17%, 42%);
    --color-text-body-white: hsl(0, 0%, 100%);
    --color-text-title: hsl(31, 18%, 20%);
    --color-border-200: hsl(44, 51%, 91%);
    --color-bckground-white: hsl(0, 0%, 100%);


    /* button text */
    --color-button-text: var(--color-text-title);
    --color-button-bckground: hsl(30, 22%, 96%);
    --color-button-background-error: hsl(321, 70%, 61%);
    --color-border-sec: hsl(45, 51%, 91%);
}

/* typography */
/* font 1 */

/* nunito-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Nunito-sansnunito-sans-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* nunito-sans-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Nunito-sansnunito-sans-v15-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* nunito-sans-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/Nunito-sansnunito-sans-v15-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* nunito-sans-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Nunito-sansnunito-sans-v15-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* nunito-sans-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/Nunito-sansnunito-sans-v15-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* font 2 */

  /* nunito-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Nunitonunito-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* nunito-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Nunitonunito-v26-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  body {
    margin: 0;
    min-width: 400px;
    font-family: nunito, nunito-sans, sans-serif;
    background-color: var(--color-bckground-white) ;
  }

  h1 {

  }

  .nav {
    display: flex;
    justify-content: space-between;
    padding: 1em 0.5em;
    background-color: var(--color-brand-500);
  }

  .title-container {
    width: 100%;
    padding: 1em;
    border-bottom: 1px solid var( --color-border-sec);
  }


  #clear-btn {
    width: 100%;
    text-align: left;
    padding: 1em ;
    background-color: var(--color-button-bckground);
    border: none;
    font-weight: 500;

  }

  #clear-btn:hover {
    background-color: var(--color-button-background-error);
    color: var(--color-text-body-white);
  }